<div class="row">
	<article class="article col-xs-12">
		<div class="top row">
			<div class="col-md-9">
				<a id="articleLink" class="articleLink nav-link text-light" href="{{titleLink}}" target="blank_"><h1 id="articleTitle">{{this.title}}</h1></a>
			</div>
			<div class="col-md-3 buttons">
				{{#unless saved}}
					<button class="btn btn-save" data-id="{{_id}}">Save Article</button>
				{{else}}
					<button class="btn btn-details" data-id="{{_id}}">Article Details</button>
					<button class="btn btn-delete" data-id="{{_id}}">Delete Article</button>
				{{/unless}}
			</div>
		</div>
		<div class="row">
			<div class="bottom col-xs-12">
				<a id="commentLink" class="bot-link" href="{{commentsLink}}" target="blank">{{comments}}</a>
				<a id="userLink" class="bot-link" href="{{userLink}}" target="blank">{{user}}</a>
				<a id="subLink" class="bot-link" href="{{commentLink}}" target="blank">{{subreddit}}</a>
			</div>
		</div>
	</article>
</div>